
<div class="outer-box">
<div class="inner-box">

<h4>New Shortner</h4>

<%= render 'form', shortner: @shortner %>

<%= link_to 'Back', shortners_path, class: "btn btn-secondary text-white" %>

</div>
</div>

